/* PPNeueMontreal - Thin (200) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Thin.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* PPNeueMontreal - Light (300) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Light.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Light.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* PPNeueMontreal - Book (400) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Book.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Book.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* PPNeueMontreal - Regular (450) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Regular.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Regular.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
}

/* PPNeueMontreal - Medium (530) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Medium.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Medium.ttf') format('truetype');
  font-weight: 530;
  font-style: normal;
}

/* PPNeueMontreal - Semibold (700) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Semibold.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Semibold.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* PPNeueMontreal - Bold (800) */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('../fonts/PPNeueMontreal-Bold.woff') format('woff'),
       url('../fonts/PPNeueMontreal-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'PPNeueMontreal', sans-serif;
  font-size: 26px;
  line-height: 1.5;
}

.main {
	max-width: 38em;
	margin: 0 auto;
	padding: 2em;
}

.image {
	width: 200px;
}

.image img {
	width: 100%;
}

.about {
	text-align: left;
	padding-bottom: 2em;
}

.about a {
	border-bottom: 3px solid var(--border-color);
  text-decoration: none;
  color: var(--link-color);
}

.section {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 1.5em;
	background-color: var(--section-bg);
}

h1 {
  font-size:72px;
  font-weight:450;
}
h2 span {
	border-bottom: 3px solid var(--border-color);
	padding-bottom: 5px;
}

h2 {
  font-size:36px;
  font-weight:530;
}
h3 {
  font-size:36px;
  font-weight:450;
}
h4 {
  font-size:36px;
	margin-bottom: .5em;
  font-weight:530;
}

.speaking h4 {
	margin-bottom: 0;
}

.headline {
	margin-bottom: 0;
	padding-bottom: .25em;
}

.notes {
	margin-top: 0;
}

.notes li:not(:last-child) {
	margin-bottom: .25em;
}

.subsection {
	margin-bottom: 2em;
}

.date {
	margin-top: 0;
	font-size: 26px;
	font-weight: 400;
}

.interesting {
	margin-top: 0;
}

a {
	color: var(--link-color);
}

footer {
	text-align: center;
	padding-top: 2em;
}

@media only screen and (max-width: 40em) {
  .main {
  	padding: .25em;
  }

  .about {
  	font-size: .889rem;
  }
}


#stats-tracker {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat {
    text-align: center;
    margin: 10px;
    padding: 32px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.stat h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1em;
}

.stat p {
    font-size: 1.5em;
    font-weight: 530;
    color: #e74c3c;
}

.visual {
    font-size: 1.2em;
    margin-top: 10px;
    min-height: 1.2em;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #000000;
  --border-color: #000000;
  --section-bg: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode {
--bg-color: #1e2429;
--text-color: #ffffff;
--link-color: #ffffff;
--border-color: #ffffff;
--section-bg: #393a3e00;
}