body {
  margin: 0;
  font-family: 'Noto Sans Mono', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main {
	max-width: 50em;
	margin: 0 auto;
	padding: 2em;
}

.image {
	width: 200px;
	margin: 0 auto;
}

.image img {
	width: 100%;
}

.about {
	text-align: center;
	padding-bottom: 2em;
}

.about a {
	border-bottom: 3px solid var(--border-color);
  text-decoration: none;
  color: var(--link-color);
}

.section {
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 1.5em;
	background-color: var(--section-bg);
}

h2 span {
	border-bottom: 3px solid var(--border-color);
	padding-bottom: 5px;
}

h4 {
	margin-bottom: .5em;
}

.speaking h4 {
	margin-bottom: 0;
}

.headline {
	margin-bottom: 0;
	padding-bottom: .25em;
}

.notes {
	margin-top: 0;
}

.notes li:not(:last-child) {
	margin-bottom: .25em;
}

.subsection {
	margin-bottom: 2em;
}

.date {
	margin-top: 0;
	font-size: 16px;
	font-weight: 300;
}

a {
	color: var(--link-color);
}

footer {
	text-align: center;
	padding-top: 2em;
}

@media only screen and (max-width: 40em) {
  .main {
  	padding: .25em;
  }

  .about {
  	font-size: .889rem;
  }
}


#stats-tracker {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.stat h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1em;
}

.stat p {
    font-size: 1.5em;
    font-weight: bold;
    color: #e74c3c;
}

.visual {
    font-size: 1.2em;
    margin-top: 10px;
    min-height: 1.2em;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #000000;
  --border-color: #000000;
  --section-bg: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode {
--bg-color: #2c3e50;
--text-color: #ffffff;
--link-color: #ffffff;
--border-color: #ffffff;
--section-bg: #393a3e00;
}